@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
