$color--black: #000;
$color--white: #fff;

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  color: $color--black;
  background-color: $color--white;
  overflow: hidden;
}
