ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content_container {
  margin: 0 auto;
  &:first-of-type {
    padding-top: 100px;
  }
  .content_header {
    padding: 20px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .btn_view_more {
    background-color: #fff;
    border: 0;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 50%;
    height: 100%;
    margin-top: 60px;
    &:hover {
      background-color: #256dd8;
      color: #fff;
    }
  }

  .content_list {
    display: flex;
    justify-content: space-around;
    .content_item {
      width: 150px;
      border-radius: 10px;
      margin-right: 20px;
      .content_link {
        text-decoration: none;
        display: block;
        width: 100%;
        color: #000;
        border-radius: 10px;
        text-align: center;
        .content_poster {
          width: 100%;
          height: 150px;
          border: 1px solid #cdcdcd;
          border-radius: 10px;
        }

        .content_name {
          font-weight: bold;
          font-size: 14px;
        }
      }
    }
  }
}
