.signup_container {
  margin: 100px 0 150px;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  box-shadow: 0 2px 50x rgba(0, 0, 0, 0.2);
  width: 450px;
  .header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    border-radius: 10px;
    .title {
      margin: 0;
    }
  }
  .form_signup {
    padding: 30px 40px;
    .form_control {
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
      .form_label {
        display: inline-block;
        margin-bottom: 10px;
      }
      .form_input {
        box-sizing: border-box;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;
      }

      .small {
        display: block;
        color: #838383;
        margin: 20px 0 0;
      }

      .form_select {
        margin-left: 10px;
      }

      .preference_container {
        display: flex;
        align-items: center;
        .preference_span {
          display: inline-block;
          padding: 5px 5px;
          border-radius: 5px;
          background-color: #f3f3f3;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .btn {
      border: none;
      border-radius: 5px;
      transition: 0.2s;
      cursor: pointer;

      &.check_dup {
        position: absolute;
        top: 0;
        right: 0;
        transition: 0.2s;
        &:hover {
          background-color: #b8b4b4;
        }
      }

      &.add {
        margin-left: 15px;
        &:hover {
          background-color: #b8b4b4;
        }
      }
      &.submit {
        background-color: #4450bc;
        color: #fff;
        display: block;
        font-size: 1rem;
        width: 100%;
        padding: 15px;
        &:hover {
          background-color: #2f3fd1;
        }
      }
    }
  }
}
